*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.continer{
    display: flex;
    justify-content: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    gap: 3rem;
    flex-wrap: wrap;
}

.icon-box{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-box i{
    height: 60px;
    width: 60px;
    background-color: #fff;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
}

.icon-box .text{
    position: absolute;
    top: 0;
    text-align: center;
    font-size: large;   
    font-size: 14px;
    padding: 5px 8px;
    border-radius: 5px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-box:hover .text{
    top: -70%;
}

.icon-box .text::before{
    content: "";
    position: absolute;
    bottom: -3%;
    height: 8px;
    width: 8px;
    bottom: -3px;
    background-color: red;
    left: 50%;
    transform: translate(-50%) rotate(45deg);
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    opacity: 0;
}

.icon-box:hover .text{
    opacity: 1;
}

.icon-box:hover ::before{
    opacity: 1;
}

#github:hover i,
#github:hover .text,
#github:hover .text::before{
    background-color: #000000;
    z-index: -1;
    color: white;
}

#youtube:hover i,
#youtube:hover .text,
#youtube:hover .text::before{
    background-color: #DE463B;
    z-index: -1;
    color: white;
}

#facebook:hover i,
#facebook:hover .text,
#facebook:hover .text::before{
    background-color: #3B5999;
    z-index: -1;
    color: white;
}

#twitter:hover i,
#twitter:hover .text,
#twitter:hover .text::before{
    background-color: #46C1F6;
    z-index: -1;
    color: white;
}

#instagram:hover i,
#instagram:hover .text,
#instagram:hover .text::before{
    background-color: #E1306C;
    z-index: -1;
    color: white;
}