@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #121321;
    perspective: 1000px;
}

section{
    position: relative;
}

section::after,section::before{
    content: "";
    position: absolute;
    top: 0;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background: linear-gradient(90deg,#9c27b0,#f3f5f5);
    z-index: -1;
}

section::after{
  transform: translate(150px, 100px);
}

section::before{
    transform: translate(-150px,-100px);
}

.continer{
    width: 375px;
    height: 225px;
    position: relative;
    transition: 0.6s;
    transform-style: preserve-3d;
}

.card{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 25px;
    border-radius: 25px;
    backdrop-filter: blur(25px);
    background: rgba(255,255,255,0.1);
    box-shadow: 0 25px 45px rgba(0,0,0,0.25);
    border:1px solid rgba(255, 255, 255 ,0.1);
    backface-visibility: hidden;
    cursor: pointer;
}
.fornt-side h5{
    font-size: 16px;
    font-weight: 400;
}
.fornt-side h6{
    font-size: 10px;
    font-weight: 400;
}

.content-1, .content-1 .logo{
    display: flex;
    align-items: center;
    gap: 20px;
}
.content-1{
    justify-content: space-between;
}

.content-1 img{
    width: 48px;
    height: 30px;
}

.card-details{
    margin-top: 40px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.card-details .name-number .name{
    margin-top: 20px;
}

.name-number .number{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 400;
}

.back-side{
    border: none;
    padding: 15px 25px 25px 25px;
    transform: rotateY(180deg);
}
.back-side h6{
    font-size: 8px;
    font-weight: 400;
}

.back-side .magnetic-strip{
    position: absolute;
    top: 40px;
    left: 0;
    height: 45px;
    width: 100%;
    background-color: #000;
}


.back-side .signature{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 80px;
    height: 40px;
    width: 85%;
    border-radius: 6px;
    background: repeating-linear-gradient(#fff, #fff 3px, #efefef 0px, #efefef 9px);
}

.back-side .signature i{
    color: #000;
    font-size: 12px;
    padding: 4px 6px;
    border-radius: 4px;
    background-color: #fff;
    margin-right: -30px;
}

.back-side h5{
    font-size: 8px;
    margin-top: 15px;
    font-weight: 400;

}

.continer:hover{
    transform: rotateY(180deg);
}