@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-continer{
    position: relative;
    display: block;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 15px;
    font-family: "Poppins", sans-serif;
    display: flex;
    align-items: center;
}

.content{
    max-width: calc(100% - 40px);
    width: 860px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 100px 0;
    background-color: red;
}

.text-sec{
    position: relative;
    margin-left: 500px;
    z-index: 10;
    display: block;
    text-align: left;
}
p{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
h2 {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-size: 34px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
}
h4 {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 1.2;
    color: #fff;
    margin-top: 0;
    margin-bottom: 30px;
}
h4 span {
    text-decoration: line-through;
    font-size: 20px;
    opacity: 0.6;
    padding-left: 15px;
}
h5 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin-top: 0;
  margin-bottom: 20px;
}
  
.desc{
    position: relative;
    width: 100%;
    display: block;
}

.desc-para p{
    font-size: 18px ;
    font-weight: 300;
    padding: 10px 0;
}

.Details-1{
    display: flex;
    gap:20px;
}
.desc-para{
    display: none;
}

.desc-sec{
    display: none;
}

input{
    display: none;
}

label .label-bt{
    font-size: 2rem;
}

#desc-1:checked ~ .desc-para{
    position: relative;
    display: block;
}

#desc-2:checked ~ .desc-sec{
    display: flex;
    margin: 10px 0;
}

.desc-btn:checked + label,
.desc-btn:not(:checked) + label{
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    line-height: 1.2;
    margin-right: 25px;
    opacity: 0.5;
}
.desc-btn:checked + label{
    opacity: 1;
}

.section-inline span{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.1;
}

h4{
    font-size: 20px;
    font-weight: 800;
}

[type="radio"]:checked,
[type="radio"]:not(:checked)
{
    position: absolute;
    visibility: hidden;
}

.color-btn:checked + label,
.color-btn:not(:checked) + label {
    position: relative;
    height: 40px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 40px;
    overflow: hidden;
    border: none;
    cursor: pointer;
    color: #ffeba7;
    margin-right: 10px;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    z-index: 10;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
}

.color-btn:checked + label {
    border-color: #434343;
    transform: scale(1.1);
}

label.color-1 {
    margin-left: 500px;
    background-image: url("./images/color1.jpg");
}
label.color-2 {
    background-image: url("./images/color2.jpg");
}
label.color-3 {
    background-image: url("./images/color3.jpg");
}
label.color-4 {
    background-image: url("./images/color4.jpg");
}
label.color-5 {
    background-image: url("./images/color5.jpg");
}
label.color-6 {
    background-image: url("./images/color6.jpg");
}

.wrap{
    margin-left: 500px;
    margin-top: 50px;
}

button{
    position: relative;
    background-color: transparent;
    padding: 10px 20px;
    width: 200px;
    font: 400;
    font-size: 18px;
    font-family: "poppins sans-serif";
    height: 48px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4px;
    width: 210px;
    line-height: 2;
    letter-spacing: 1px;
    z-index: 5;
    color: #fff;
    box-shadow: 0 6px 15px 0 rgba(16, 39, 112, 0.15);
    transition: all 250ms linear;
    text-decoration: none;
    cursor: pointer;
}

button i{
    margin-right: 10px;
}

button::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 5px;
    height: 100%;
    width: 100%;
    z-index: -1;  
    background-color: #944852;
    transition: background-color 250ms 300ms ease;  
 }
button:hover{
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, 0.25);
    background-color: #333;
}
.for-color-2:checked ~ .wrap button:before {
    background-color: #1a1a1a;
}
.for-color-3:checked ~ .wrap button:before {
    background-color: #40566e;
}
.for-color-4:checked ~ .wrap button:before {
    background-color: #5e89b2;
}
.for-color-5:checked ~ .wrap button:before {
    background-color: #8c7f76;
}
.for-color-6:checked ~ .wrap button:before {
    background-color: #5d6160;
}


.img-wrap {
  position: absolute;
  top: 23%;
  left: 15%;
  width: 500px;
  height: 410px;
  display: inline-block;
  z-index: 9;
  transition: all 550ms linear;
  transition-delay: 100ms;
  background-position: center top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: url("./images/chair1.png");
  opacity: 0;
}

.for-color-1:checked ~ .img-wrap.chair-1 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}

.for-color-2:checked ~ .img-wrap.chair-2 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  }
.for-color-3:checked ~ .img-wrap.chair-3 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.for-color-4:checked ~ .img-wrap.chair-4 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.for-color-5:checked ~ .img-wrap.chair-5 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
.for-color-6:checked ~ .img-wrap.chair-6 {
    animation: tran 0.7s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
}
@keyframes tran {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0) rotate(-1deg);
    }
    20%,
    80% {
      transform: translate3d(2px, 0, 0) rotate(2deg);
    }
    30%,
    50%,
    70% {
      transform: translate3d(-3px, 0, 0) rotate(-3deg);
    }
    40%,
    60% {
      transform: translate3d(3px, 0, 0) rotate(3deg);
    }
  }



#color-1:checked ~ .chair-1{
    opacity: 1;
    background-image: url(Images/chair1.png);
}
#color-2:checked ~ .chair-2{
    opacity: 1;
    background-image: url(Images/chair2.png);
}
#color-3:checked ~ .chair-3{
    opacity: 1;
    background-image: url(Images/chair3.png);
}
#color-4:checked ~ .chair-4{
    opacity: 1;
    background-image: url(Images/chair4.png);
}
#color-5:checked ~ .chair-5{
    opacity: 1;
    background-image: url(Images/chair5.png);
}
#color-6:checked ~ .chair-6{
    opacity: 1;
    background-image: url(Images/chair6.png);
}

.back-color{
    position: absolute;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100vw;
    display: block;
    transition: all 250ms linear;
    transition-delay: 300ms;
    z-index: 1;
}

.for-color-1:checked ~ .back-color.chairs-1{
    background-image: linear-gradient(196deg, #f1a9a9, #e66767);
}

.for-color-2:checked ~ .back-color.chairs-2{
    background-image: linear-gradient(196deg, #4c4c4c, #262626);
}

.for-color-3:checked ~ .back-color.chairs-3{
    background-image: linear-gradient(196deg, #8a9fb2, #5f7991);
}

.for-color-4:checked ~ .back-color.chairs-4{
    background-image: linear-gradient(196deg, #97afc3, #6789a7);
}

.for-color-5:checked ~ .back-color.chairs-5{
    background-image: linear-gradient(196deg, #afa6a0, #8c7f76);
}

.for-color-6:checked ~ .back-color.chairs-6{
    background-image: linear-gradient(196deg, #aaadac, #838786);
}

@media (max-width:991px) {
    .main-continer{
        height: auto;
    }
    .content{
        margin: 0 auto;
        margin-top: 200px;
        margin-bottom: 0;
        text-align: center;
        max-width: calc(100% -40px);
        width: 370px;
    }
    label.first-color {
        margin-left: 0;
     }
    .text-sec{
        width: 375px;
        margin: 0 auto;
        margin-left: 0;
        text-align: center;
        height: 300px;
    }
    .img-wrap {
        width: 375px;
        height: 308px;
        top: 8%;
        left: 50%;
        margin-left: -190px;
      }
    .margin {
        margin-top: 100px;
      }
    .wrap{
        margin-top: 0;
      }
    .desc-btn:checked + label,
      .desc-btn:not(:checked) + label {
        margin-right: 15px;
        margin-left: 15px;
      }
   .color-btn:checked + label,
      .color-btn:not(:checked) + label {
        height: 40px;
        width: 40px;
        margin: 2rem auto;
        text-align: center;

    }
    h5{
        margin-bottom: 15px;
    }

   .section-inline {
        margin: 0 5px;
      }
    .wrap{
        margin: 1rem auto;
        
    }
}
@media(max-width: 575px) {
    .content {
      width: 280px;
    }
    .text-sec{
      width: 280px;
    }
    .color-btn:checked + label,
    .color-btn:not(:checked) + label {
      height: 30px;
      width: 30px;
      margin: 1rem auto;
    }
    .section-inline p span {
      font-size: 14px;
      line-height: 1.1;
      gap: 1px;
    }
    h5{
        margin-top: 20px;
    }
    .Details-1{
        gap: 10px;
    }
    .section-inline p {
      font-size: 14px;
    }
  }