@import url(https://fonts.googleapis.com/css?family=Roboto:100,700;);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #212121;
}

.main-continer{
    min-height: 100vh;
    max-height: 100%;
    background-color: #212121;
    display: flex;
    justify-content: center;
    align-items: center;
    /* min-width: 100vh; */
    max-width: 100%;
}

.img-sec{
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    margin: 10px;
    position: relative;
}

.box img{
    overflow: hidden;
    position: relative;
    max-width: 400px;
    min-width: 300px;
    height: 300px;
    display: flex;
}
.box{
    height: 300px;
    width: 400px;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease-in;
}

.text{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: -1 ;
    background-color: #2121217c;
    transition: all 0.3s ease-in;
}

.text h3{
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 400;
}

.overlap p{
    font-weight: 700;
}

.overlap{
    color: #fff;
    text-transform: uppercase;
}

.box:hover .text{
    z-index: 2;
}

.box::before{
    content: "";
    width: 100%;
    height: 50px;
    background-color: #31353eb6;
    position: absolute;
    top: -20%;
    z-index: 1;
    transition: all 0.3s ease-in;
}

.box::after{
    content: "";
    width: 100%;
    height: 50px;
    background-color: #31353eb3;
    position: absolute;
    bottom: -20%;   
    transition: all 0.3s ease-in;
}

.box:hover::after{
    transform: translateY(-60px);
}

.box:hover::before{
    transform: translateY(60px);

}
