*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #364B63;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-box{
    background-image: url(images/bg1.jpg);
    background-size: cover;
    height: 450px;
    width: 800px;
    animation: imgtransform 30s infinite;
    margin: 0 2.5rem;
    min-width: 300px;
    background-position: center;
}

@keyframes imgtransform {
  20%{
    background-image: url(images/bg2.jpg);
    background-size: cover;
  }  
  40%{
    background-image: url(images/bg3.jpg);
    background-size: cover;
  }
  60%{
    background-image: url(images/bg3.jpg);
    background-size: cover;
  }
  80%{
    background-image: url(images/bg4.jpg);
    background-size: cover;
  }
  100%{
    background-image: url(images/bg5.jpg);
    background-size: cover;

  }
}