*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-container{
    height: 100vh;
    width: 100vw;
}

nav{
    background-color: #33677A;
    width: 100vw;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}
.logo h2{
    font-size: 24px;
    color: white;
}

nav button{
    padding:10px 20px;
    background-color: transparent;
    border: 2px solid white;
    color: #fff;
    font-size: 13px;
}
.content{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.left-box button{
    padding: 10px 20px;
    font-size: 13px;
    background-color: #33677A;
    border: 2px solid black;
    color: #fff;
}

.left-box{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 40px;
}

.left-box h2{
    font-size: 40px;
}

.left-box p{
    font-size: 20px
}

.right-box{
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-box{
    width: 300px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    margin: 150px auto;
}

.small-img{
    position: relative;
    flex-basis: 100px;
    cursor: pointer;
    transition: all 2s;
}

.small-img img{
    width: 100px;
    height: 100px;
}

.small-img::before{
    content: "";
    position: absolute;
    width: 15px;
    height: 100px;
    right: -14px;
    top: 15px;
    background-color: #3c8898;
    transform: skewY(65deg);
}

.small-img::after{
    content: "";
    position: absolute;
    width: 100px;
    height: 30px;
    bottom: -29px;
    left: 7px;
    background-color: #3c8898;
    transform: skewX(26deg);
}

.img-box:hover .small-img{
    transform: rotate(360deg);
}

.img-box:hover.img-box div:nth-child(1){
    transform: translate(60px,230px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(2){
    transform: translate(-290px,-120px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(3){
    transform: translate(80px,295px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(4){
    transform: translate(440px,-220px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(5){
    transform: translate(105px,-100px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(6){
    transform: translate(-310px,300px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(7){
    transform: translate(10px,-280px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(8){
    transform: translate(-280px,-40px) rotate(360deg);
}
.img-box:hover.img-box div:nth-child(9){
    transform: translate(260px,180px) rotate(360deg);
}

@media (max-width:1000px){
    .content{
        margin-top: 10px;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        padding: 2rem 0;
    }
    .left-box {
        width: 30%;
        justify-content: center;
        text-align: center;
    }
    .right-box {
        width: 100%;
    }
}
@media (max-width: 480px){
   .left-box{
    width: 70%;
    align-items: center;
   }
    .right-box {
        width: 100%;
    }

}